<h1 style="text-align: center;">Todo List</h1>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <div class="input-group mb-3">
                <input type="text" class="todo-input" placeholder="Let's do some task" [(ngModel)]="todoTitle">
                <button type="button" class="btn btn-primary todo-input" (click)="addTodo()">Add Todo</button>
            </div>
            <table class="table table-striped">
                <tbody>
                    <app-modify-todo *ngFor="let todo of todoData" [todo]="todo"></app-modify-todo>
                    <!-- <tr *ngFor = "let todo of todoData">
                    <td><input type="text" [(ngModel)]="todoTitle"> {{todo.todo}}</td>
                    <td><button type="button" class="btn btn-primary todo-input" (click) = "todoService.doneEdit(todo.id)">Edit Todo</button> </td>
                    <td> <button type="button" class="btn btn-primary todo-input">Delete Todo</button> </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>