<div class="todo-item">
    <div class="todo-item-left">
      <input type="checkbox" [(ngModel)]="todo.completed" (change)="todoService.doneEdit(todo)">
      <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }"
        (dblclick)="todoService.editTodo(todo)">{{ todo.todo }}</div>
      <ng-template #editingTodo>
        <input type="text" class="todo-item-edit" [(ngModel)]="todo.todo" (keyup.enter)="todoService.doneEdit(todo)"
         autofocus>
      </ng-template>
    </div>
    <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
      &times;
    </div>
  </div>